    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "poppins", sans-serif;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: "poppins", sans-serif;
        width: 100%;
    }
    /* navigavion bar style */
    
    .navbar {
        justify-content: center;
        align-items: center;
        background-color: rgb(18, 19, 20);
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 10;
    }
    
    .navbar ul {
        list-style: none;
        margin: 20px 0px;
        text-align: center;
    }
    
    .navbar ul li {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.2rem;
        font-weight: 200;
        display: inline-block;
    }
    
    .navbar ul li a {
        text-decoration: none;
        color: aliceblue;
        padding: 12px 20px;
    }
    
    .navbar ul li a:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 15px;
        box-shadow: 1px 1px rgb(7, 184, 31);
    }
    /* main section style */
    
    .body_container {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        width: 100vw;
        justify-content: center;
        color: rgb(255, 255, 255);
    }
    
    .body_container::before {
        content: "";
        position: relative;
        top: 0;
        right: 0;
        background: url("../images/bg1.jpg") no-repeat center center/cover;
        min-height: 100vh;
        width: 100vw;
        z-index: -10;
    }
    
    .welcome_page {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 50%;
        top: 40%;
        right: 10%;
    }
    
    .heading {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 3rem;
        text-align: center;
        margin: 4px 0px;
    }
    
    @media(max-width:640px) {
        .navbar ul li {
            display: block;
            margin: 20px;
        }
        .body_container::before {
            content: "";
            position: relative;
            top: 100px;
            right: 0;
            height: 100vh;
        }
        .welcome_page {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            width: 50%;
            top: 60%;
            right: 22%;
        }
    }
    
    .about_section {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 50px 0px;
        min-height: 100vh;
        width: 100vw;
        background-color: #272727;
    }
    
    .pic {
        vertical-align: top;
        width: 90%;
        vertical-align: top;
        text-align: center;
        margin: auto;
    }
    
    .ab {
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
        margin: 25px;
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }
    
    .pic img {
        width: 300px;
        height: auto;
        border: 1px solid rgb(219, 168, 0);
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin: auto;
    }
    
    .intro {
        display: inline-block;
        flex-direction: column;
        text-align: justify;
        padding: 20px;
        width: 60%;
        border: 2px solid rgb(49, 255, 101);
        border-radius: 15px;
        margin-left: 5%;
        vertical-align: middle;
    }
    
    .intro a {
        color: rgb(219, 168, 0);
        background-color: rgb(24, 20, 20);
        text-decoration: none;
        border-radius: 10px;
        padding: 2px;
    }
    
    @media(max-width:1024px) {
        .about_section {
            height: auto;
        }
        .intro {
            width: 90vw;
            margin: auto;
        }
    }
    
    .intro a:hover {
        color: rgb(24, 20, 20);
        background-color: rgb(219, 168, 0);
    }
    
    .intro h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: rgb(7, 168, 74);
    }
    
    .intro p {
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
    }
    
    .gallery {
        flex-direction: column;
        text-align: center;
        margin-top: 0;
        background-color: rgb(10, 6, 6);
        z-index: 1;
        width: 100vw;
        min-height: 100vh;
        padding: 50px 0px;
    }
    
    .gal {
        display: inline-block;
        box-sizing: border-box;
        flex-wrap: wrap;
        padding: 10px;
        padding: 3% 0% 3% 3%;
        text-align: center;
        margin: auto;
    }
    
    .gal .img {
        width: 270px;
        height: 250px;
        border: 2px solid rgb(255, 255, 255);
        margin: 10px;
        display: inline-block;
        vertical-align: top;
        border-radius: 15px;
    }
    
    .gal img {
        width: 80%;
        height: auto;
        padding: 10px;
        margin-left: auto;
    }
    
    .experience {
        width: 100vw;
        min-height: 100vh;
        padding: 50px 0px;
        background-color: rgb(13, 15, 14);
        text-align: center;
    }
    
    .experience .skill {
        width: 300px;
        height: 480px;
        background-color: rgb(18, 19, 20);
        margin: 10px;
        border: 1px solid #ffffff;
        text-align: initial;
        border-radius: 15px;
        display: inline-block;
    }
    
    @media(max-width:1500px) {
        .experience {
            height: auto;
        }
    }
    
    .skill:hover {
        /* border: 2px solid black; */
        box-shadow: 5px 5px green;
    }
    
    .skill .skillcontainer {
        padding: 15px;
        display: grid;
    }
    
    .skillcontainer p {
        padding: 5px;
        font-size: 1.5rem;
        color: #cc4b00;
    }
    
    .skillcontainer h1 {
        padding: 10px;
        color: #fcfcfc;
        text-align: center;
    }
    
    .contactsection {
        min-height: 100vh;
        width: 100vw;
        background-color: rgb(18, 19, 20);
        padding: 50px 0px;
        text-align: center;
    }
    
    .con {
        margin: 25px;
        display: inline-block;
        text-align: center;
        height: 250px;
        width: 250px;
        margin-top: 50px;
        border-radius: 50%;
        border: 1px solid rgb(231, 10, 10);
        vertical-align: middle;
    }
    
    .con .ph {
        margin-top: 40%;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 1.2rem;
    }
    
    .con .phv {
        color: rgba(255, 255, 255, 0.685);
    }
    
    .con p {
        padding: 5px;
    }
    
    .form {
        text-align: center;
        margin-top: 50px;
    }
    
    .form input {
        display: block;
        margin: auto;
    }
    
    #name,
    #email,
    #textarea,
    #subject {
        width: 40%;
        margin-top: 10px;
        padding: 13px;
        background-color: #0f0f0f;
        border-width: 0px;
        outline: none;
        border-radius: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.1rem;
    }
    
    #textarea {
        resize: none;
    }
    
    #button {
        padding: 15px;
        margin-top: 10px;
        background-color: #990f16;
        border-width: 0px;
        border-radius: 20px;
        color: rgb(255, 255, 255);
        font-size: 1.1rem;
    }
    
    #button:hover {
        color: #990f16;
        background-color: rgb(255, 255, 255);
    }
    
    footer {
        padding: 25px;
        height: auto;
        background-color: rgb(0, 0, 0);
        text-align: center;
    }
    
    footer p {
        color: rgb(255, 255, 255);
        padding: 5px;
        display: inline-block;
    }